/*-------------------------ABOUT US-------------------------*/
.about-us-description {
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $main-text-color;
  margin: 0;
}
.about-us {
  padding-top: 94px;
}

.about-us-title {
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .about-us-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.about-us-item::before {
  content: "";
  display: block;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;
}
.svg1::before {
  background-image: url(../images/antenna.svg);
}
.svg2::before {
  background-image: url(../images/clock.svg);
}
.svg3::before {
  background-image: url(../images/diagram.svg);
}
.svg4::before {
  background-image: url(../images/astronaut.svg);
}
@media screen and (min-width: 768px) {
  .about-us-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .about-us-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us-item {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}
